
.vs/InnoLab1/FileContentIndex/abf20eb3-00cf-4121-8171-98ef6e8a4ca0.vsidx
.vs/InnoLab1/FileContentIndex/read.lock
.vs/ProjectSettings.json
.vs/slnx.sqlite
.vs/InnoLab1/FileContentIndex/c108146c-8569-42ec-a71e-883c7962510d.vsidx
